NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:3000

MONGO_URI=mongodb://127.0.0.1:27017/spakstrip

ACCESS_TOKEN_SECRET=replace-with-32+chars-random-string
REFRESH_TOKEN_SECRET=replace-with-different-32+chars-random-string
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
